<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
        .button {
            background-color: #575151;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    </style>
</head>

<body>
    <div style="background-color:cornflowerblue">
        <h1 style=" color:rgb(127, 182, 238) ">Welcome to Fundoo App</h1><br>
        <p> Hey <%=name%>, Thank you for Registering on App to continue enjoying App please click on button below</p>
        <a href=<%=url%></a><button class="button">click here</button></a>
    </div>
</body>

</html>